.anchor-icon img {
    max-width: 100%;
}

.achor-icon-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.anchor-icon {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 36px;
    float: left;
}

.achor-icon-label {
    display: block;
    padding: 7px;
}

.height10 {
    height: 10px;
    width: 100%;
    clear: both;
}
@media (min-width: 1000px) and (max-width: 1199px) {
    .outerbox{
        height: 278px;
    }
    .pouterbox{
        height: 320px;
    }
    .outergraph{
        padding-top: 40px;
    }
}
@media (min-width: 1200px) and (max-width: 1299px) {
    .outerbox{
        height: 278px;
    }
    .pouterbox{
        height: 320px;
    }
    .outergraph{
        padding-top: 30px;
    }
}
@media (min-width: 1300px) and (max-width: 1499px) {
    .outerbox{
        height: 278px;
    }
    .pouterbox{
        height: 320px;
    }
    .outergraph{
        padding-top: 0px;
    }
}
@media (min-width: 1500px) and (max-width: 1699px) {
    .outerbox{
        height: 340px;
    }
    .pouterbox{
        height: 360px;
    }
    .outergraph{
        padding-top: 0px;
    }
}
@media (min-width: 1700px) {
    .outerbox{
        height: 410px;
    }
    .pouterbox{
        height: 430px;
    }
    .outergraph{
        padding-top: 20px;
    }
}